.containers {
	width: 600px;
	margin: auto;
	border: 1px solid blue;
	height: 400px;
}

.footter {
	width: 600px;
	margin: auto;
	border: 1px solid blue;
	height: 40px;
	padding-top: 100px;
}

.container {
	float: left;
	top: 0px;
	width: 100px;
	border: 1px solid green;
	height: 100px;
}

.container1 {
}

.container2 {
}

.container3 {
}